@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Bree Serif', serif;
    background:#f4f0e3;
    color:#2b2b2b;
}

/* MENU */
header{
    background:#1b5e20;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
    flex-wrap:wrap;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}

/* HERO COM HORTALIÇAS */
.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?auto=format&fit=crop&w=1600&q=80");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:white;
    padding:20px;
}

.hero h1{
    font-size:70px;
}

.hero p{
    font-size:22px;
    max-width:900px;
    margin:auto;
}

.botao{
    display:inline-block;
    margin-top:25px;
    background:#ffd54f;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    color:#1b5e20;
}

/* SEÇÕES */
section{
    padding:90px 20px;
    text-align:center;
}

h2{
    font-size:42px;
    color:#1b5e20;
    margin-bottom:20px;
}

p{
    max-width:900px;
    margin:auto;
    font-size:20px;
    line-height:1.8;
}

/* CARDS */
.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    margin-top:40px;
}

.card{
    width:260px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
    border-top:6px solid #ffd54f;
}

/* STEPS */
.steps{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.step{
    width:220px;
    background:white;
    padding:20px;
    border-left:6px solid #1b5e20;
    border-radius:10px;
}

/* GALERIA */
.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
}

.img{
    width:220px;
    height:150px;
    background:
    url("https://images.unsplash.com/photo-1524594154903-9127bcdff1f6?auto=format&fit=crop&w=600&q=80");
    background-size:cover;
    border-radius:10px;
}

/* FOOTER */
footer{
    background:#6d4c41;
    color:white;
    text-align:center;
    padding:25px;
}